RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#route to index.php (in root folder)
#RewriteRule ^.*$ /pizza/index.php [L]
RewriteRule ^([A-Za-z0-9]+)/([A-Za-z0-9]+)$ index.php?c=$1&m=$2 [NC]
RewriteRule ^([A-Za-z0-9]+)/([A-Za-z0-9]+)/([A-Za-z0-9]+)/([A-Za-z0-9]+)$ index.php?c=$1&m=$2&$3=$4 [NC]

Options -Indexes
